@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-image: linear-gradient(to right top, #33173e, #3d1f51, #462865, #4d317a, #523c91, #593f9d, #6143a9, #6946b5, #7a41b7, #8b39b7, #9c2fb6, #ac20b3);
  font-size: 16px;
}
.navbar .navbar-brand img {
  height: 80px;
  margin-right: 30px;
}

.activo {
  text-decoration: underline;
  color: black;
  text-transform: capitalize;
}

.categ {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 247, 247);
  margin-top: 30px;
  font-size: 60px;
  text-transform: uppercase;
}

.contenido {
  height: auto;
  width: 100%;
  background-color: rgb(247, 247, 247);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenido .producto {
  width: 240px;
  padding: 20px;
  margin-inline: 5px;
}
.contenido .producto .producto__imagen {
  width: 100%;
  height: auto;
}
.contenido .producto.producto__categoria {
  margin: 10px;
  padding-left: 80px;
  padding-block: 10px;
  font-size: 18px;
}

.contenedor {
  display: flex;
  height: 1250px;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
.contenedor .cartitas1 {
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: column;
  background-image: url(/Media/pcbaner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.contenedor .cartitas1:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.contenedor .cartitas1 h3 {
  font-size: 50px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.contenedor .cartitas1p {
  text-align: center;
  margin: 20px;
  color: rgb(196, 196, 196);
}
.contenedor .cartitas1 button {
  margin: 10px;
  padding: 15px;
  color: wheat;
  background-color: #9c2fb6;
}
.contenedor .cartitas2 {
  height: 500px;
  width: auto;
  display: flex;
  flex-direction: column;
  background-image: url(/Media/pcGAmer.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.contenedor .cartitas2:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.contenedor .cartitas2 h3 {
  font-size: 50px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.contenedor .cartitas2p {
  text-align: center;
  margin: 20px;
  color: rgb(196, 196, 196);
}
.contenedor .cartitas2 button {
  margin: 10px;
  padding: 10px;
  color: wheat;
  background-color: #9c2fb6;
}

.foot {
  display: flex;
  height: 360px;
  width: auto;
  background: linear-gradient(to bottom, #de48b5 0%, #5f17a3 100%);
  flex-direction: column;
}
.foot div {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.foot div h4 {
  margin: 20px;
  margin-top: 160px;
  padding: 10px;
  color: antiquewhite;
  font-size: 20px;
  text-transform: uppercase;
}
.foot .redes a {
  text-decoration: none;
  color: #b7b7b7;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(28, 28, 28);
  border-radius: 10px;
  position: relative;
  transition: 0.4s;
}
.foot .redes a:hover {
  transform: rotate(45deg);
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.foot .redes a:hover:nth-child(2) {
  background: #122066;
}
.foot .redes a:hover:nth-child(3) {
  background: #0ca833;
}
.foot .redes a:hover:nth-child(4) {
  background: #1d91fd;
}
.foot .redes a::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 10px;
  transition: opasity 0.2s;
}

.armado {
  display: flex;
  height: 800px;
  width: 100%;
  background-image: url(/Media/armadoPc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
}
.armado .boton {
  margin-bottom: 100px;
  padding: 30px;
}
.armado .boton button {
  font-size: 50px;
  background-color: transparent;
  border: solid;
  padding: 20px;
  text-transform: initial;
  color: whitesmoke;
}
.armado .boton button:hover {
  color: #9c2fb6;
  transition: 0.5s;
}

.btn {
  margin: 30px;
  padding: 20px;
  margin-left: 60px;
  border: 0;
  text-transform: uppercase;
  font-size: 20px;
  display: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-image: linear-gradient(to right top, #33173e, #3d1f51, #462865, #4d317a, #523c91, #593f9d, #6143a9, #6946b5, #7a41b7, #8b39b7, #9c2fb6, #ac20b3);
}
.wrapper aside {
  padding: 2rem;
  padding-right: 0;
  color: white;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrapper aside .categoria {
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style: none;
}
.wrapper aside .categoria .boton-categoria {
  background-color: transparent;
  border: 0;
  color: whitesmoke;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  padding: 1rem;
  text-decoration: none;
}
.wrapper aside .categoria .boton-categoria.active {
  background-color: whitesmoke;
  color: #9c2fb6;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.wrapper main {
  background-color: whitesmoke;
  margin: 16px;
  margin-left: 0;
  border-radius: 18px;
  padding: 3rem;
}
.wrapper main .titulo-p {
  margin: 20px;
  padding-bottom: 30px;
  text-transform: capitalize;
  color: #333;
}
.wrapper main .contenedor-producto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.wrapper main .contenedor-producto .producto .producto-imagen {
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.096);
}
.wrapper main .contenedor-producto .producto .details {
  background: linear-gradient(to top, #721758 0%, #270546 100%);
  color: white;
  padding: 6px;
  border-radius: 10px;
  margin-top: -1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.wrapper main .contenedor-producto .producto .details .producto-titulo {
  font-size: 16px;
}
.wrapper main .contenedor-producto .producto .details .producto-agregar {
  border: 0;
  background-color: white;
  color: #9c2fb6;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 16px;
  cursor: pointer;
  border: 2px solid white;
}
.wrapper main .contenedor-producto .producto .details .producto-agregar:hover {
  background-color: #9c2fb6;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}
.container .left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.container .left .header h2 {
  margin: 0;
  color: #4f46a5;
}
.container .left .header h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}
.container .right {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url(https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?cs=srgb&dl=pexels-lucie-liz-3165335.jpg&fm=jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}
.form p {
  text-align: right;
}
.form p a {
  color: #000;
  font-size: 14px;
}
.form .form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  outline: 0;
  transition: 0.2s;
  margin-top: 20px;
}
.form .form-field:focus {
  border-color: #0f7ef1;
}
.form button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
}
.form .animation {
  animation-name: move;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}
.form .animation.a1 {
  animation-delay: 2s;
}
.form .animation.a2 {
  animation-delay: 2.1s;
}
.form .animation.a3 {
  animation-delay: 2.2s;
}
.form .animation.a4 {
  animation-delay: 2.3s;
}
.form .animation.a5 {
  animation-delay: 2.4s;
}
.form .animation.a6 {
  animation-delay: 2.5s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper main .contenedor-producto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .wrapper main .contenedor-producto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .contenedor {
    flex-direction: column;
  }
  .dropdown {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #33173e;
    margin-top: 50px;
  }
  .dropdown .btn {
    border: 0;
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    color: whitesmoke;
  }
  .dropdown .btn:hover {
    color: #8b39b7;
  }
  .dropdown .dropdown-menu {
    width: 100%;
    background-color: #33173e;
    border-radius: 0;
    border: none;
  }
  .dropdown .dropdown-menu .dropdown-item {
    color: whitesmoke;
    text-align: center;
  }
  .dropdown .dropdown-menu .dropdown-item:hover {
    color: #9c2fb6;
  }
  .wrapper aside {
    display: none;
  }
  .wrapper main {
    margin-inline: 50px;
  }
  .wrapper main .titulo-p {
    text-align: center;
  }
  .wrapper main .contenedor-producto {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */