.contenedor{
    display: flex;
    height: 1250px;
    width: 100%;
    background-color: rgb(247, 247, 247);

    .cartitas1{
        height: 500px;
        width: auto;
        display: flex;
        flex-direction: column;
        background-image: url(./img/pcbaner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;

        &:hover{
            transform: scale(1.05);
            transition: 0.5s;
        }
        h3{
            font-size: 50px;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
        }

        &p{
            text-align: center;
            margin: 20px;
            color: rgb(196, 196, 196);
        }
        button{
            margin: 10px;
            padding: 15px;
            color: wheat;
            background-color: #9c2fb6;
        }

    }

    .cartitas2{
        height: 500px;
        width: auto;
        display: flex;
        flex-direction: column;
        background-image: url(./img/pcGAmer.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-items: center;
        justify-content: center;

        &:hover{
            transform: scale(1.05);
            transition: 0.5s;
        }

        h3{
            font-size: 50px;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
        }

        &p{
            text-align: center;
            margin: 20px;
            color: rgb(196, 196, 196);
        }

        button{
            margin: 10px;
            padding: 10px;
            color: wheat;
            background-color: #9c2fb6;
        }
    }
}