@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$fontroboto: 'Roboto', sans-serif;
$colormain: #9c2fb6;
$navGradient: linear-gradient(to right top, #33173e, #3d1f51, #462865, #4d317a, #523c91, #593f9d, #6143a9, #6946b5, #7a41b7, #8b39b7, #9c2fb6, #ac20b3); ;